body{
    background: #FFFDEF ;
    height: 100vh;
}

*{
    margin: 0%;
    padding: 0%;
}

.BarraLateral{
    width: 300px;
    height: 100%;
    background-color: #F2E1AC;
    padding: ;
}

.icone{
    background-color: blueviolet;
}

ul{
    list-style-type: none;
}