*{
    margin: 0;
    padding: 0%;
}  

body{
    height: 100vh;
    display: flex;
    background-color: #FFFDEF;
    background-image:url("PetCIAFundo.png") ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.titulocad{
    font-size: larger;
}

.informaçõesADT{
    display: block;
    margin-top: 2%;
    width: 100%;
}

h1{
    font-size: 50px;
    margin-left: 1%;
}


.animal{
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 33%;
    padding: 2%;
    border-radius: 20px;
    background-color: #2D4959;
    box-shadow: 5px 5px 2.5px #d1cfc3;
    height: 290px;
    padding-left: 3.2%;
    margin-top: 3%;
}

.cadastro{
    margin-inline: 20px;
    padding-right: 20px;
}

input{
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-bottom: 20%;
    padding: 3%;
    border-radius: 5px;
    width: 250px;
}
select{
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-bottom: 20%;
    padding: 3%;
    border-radius: 5px;
    width: 271px;
}

form{
    align-items: center;
    justify-content: center;
    margin: auto;
    display: flex;
}

label{
    color: white;  
    font-size: 18px; 
}

button{
    color: white;
    background-color: #2D4959;
    height: 50px;
    width: 250px;
    border-radius: 30px;
    font-size: large;
    box-shadow: 3px 3px 1px #d1cfc3; 
}

button:hover{
    background-color: #415E6C; 
}

.botoes{
    margin: auto;
    align-items: center;
    justify-content: center;
    width: fit-content;
    text-align: center;
}

p{
    font-size: 40px;
    text-align: center;
}

.CDanimal{
    margin-top: 10%;
}

.titulocadastro{
    font-size: 55px;
}

